.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  margin-right: 5px;
  font-size: .8em;
}

#letterBoxHolder{

  min-width: 320px;
  margin-bottom: 10px;
  max-width: 22em;
}

#keyboard{

  min-width: 360px;
}

.letterbox {
  height: 1.6em;
  font-size: 2em;
  margin-right: 0;
  margin-bottom: 6px;
  padding: 0;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
}

.keyrow {

  padding-left: 4px;
  padding-bottom: 4px;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;

}

.message {
  padding: 5px 10px;
  min-height: 1em;
  font-size: .8em;
  margin-bottom: 0px;
  position: absolute;
    z-index: 1;
    top: 10em;
}

.key {
  padding: 1rem 0.55rem;
}

.row {
  --bs-gutter-x: 0px;
}


.fadeOut{
  opacity:0;
  transition: opacity .5s 1s;

}
.fadeIn{
  opacity:1;

}